language: node_js
node_js:
  - '0.11'
  - '0.10'
env:
  global:
    - secure: "ZZQ9tfefCYm6M1comgtRsoEhw4MFZ3AAJ+jubwHp1SuDq+I0nTt88+wdyDvcVFis04Dtklje6RWMXJdHRhQlHP4BVjc3s0hqHHyDKBwV7KZcUtq0BvLSJl/rgU/JRBCzB/Nk7e42utkMOp7Cvep268P5l20P90Vt9FMOQYN/eSs="
    - secure: "R6Q1iP0B5vqvqBuJD2v5XVcSbpW1TeD7zTv3lNvMlrsg1fMJNrYq3wL7c0BNoxj0MmIh82cSjWhVQh1117DG8WZo2+HcMC/cHEAvaAEB6CR1OnqLNava92Zn+4HImORDxSlIVLXqw9mz/uA54O78I6HY9pKLQ+8kflhE9xl/fOM="
    - secure: "QNLTGYFViBXu9DDoyhEtrgdpkq3K4wv2BQp49XnV89FpIRC13SLdGFBnzDIMZnP3vRrvPSDojoyn5AqlUDyazu6OSN9oqXwc7h2ie3lOSYHzYMq9Q9cXCbbWJpdUJdo0C9U6oHowcBx5AoSHqb6232/7wNLeXMbFhrC/gRvvrtI="
